
<div class="campl-content-container">
    <div class="campl-heading-container">
        <h2>Related Links</h2>
    </div>
    <ul class='campl-unstyled-list campl-related-links'>
        <li><a href="http://www.arsenicbiosensor.org/">Arsenic Biosensor Collaboration</a></li>
        <li><a href="http://www.synbiuk.org/">EPSRC Flowers Consortium</a></li>
    </ul>
</div>
<div class="campl-content-container">
    <div class="campl-heading-container">
        <h2>Collaborators</h2>
    </div>
    <ul class='campl-unstyled-list campl-related-links'>
        <li><a href="http://www.micklemlab.org/">Gos Micklem</a></li>
        <li><a href="#"></a></li>
    </ul>
</div>
