---
layout: base
---

<div class="campl-column6  campl-main-content" id="content">
    <img src="{{ page.image }}" alt="" class="campl-scale-with-grid" />
    <div class="campl-content-container">
        {{ content }}
    </div>
</div>
<div class="campl-column3 campl-secondary-content">
    <div class="campl-content-container">
        {% include links.html %}
    </div>
<!--
    <div class="campl-content-container">
        <div class="campl-vertical-teaser campl-teaser campl-promo-teaser"> 
            <div class="campl-content-container campl-vertical-teaser-txt">
                <p class='campl-teaser-title'><a href="#">Promo teaser with title above</a></p>
            </div>
            <div class="campl-content-container campl-vertical-teaser-img">
                <a href="#" class="campl-teaser-img-link">
                    <img alt=""  src="../images/content/homepage-promo-placeholder.png" class="campl-scale-with-grid" />
                </a>
            </div>
            <div class="campl-content-container campl-vertical-teaser-txt clearfix">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <a href="#4" class="campl-secondary-cta campl-float-right">Read more</a>
            </div>
        </div>
    </div>
-->
</div>
